################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BTL_Nhom7_N05/BTL_Nhom7_N05/App_Start
/BTL_Nhom7_N05/BTL_Nhom7_N05/Content
/BTL_Nhom7_N05/BTL_Nhom7_N05/bin
/BTL_Nhom7_N05/BTL_Nhom7_N05/fonts
/BTL_Nhom7_N05/BTL_Nhom7_N05/obj/Debug
/BTL_Nhom7_N05/BTL_Nhom7_N05/Properties
/BTL_Nhom7_N05/BTL_Nhom7_N05/Scripts
/BTL_Nhom7_N05/BTL_Nhom7_N05/Views/Web.config
/BTL_Nhom7_N05/packages/bootstrap.3.4.1/content/fonts
/BTL_Nhom7_N05/packages/bootstrap.3.4.1
/BTL_Nhom7_N05/packages/jQuery.3.4.1
/BTL_Nhom7_N05/packages
*.csproj
/BTL_Nhom7_N05/BTL_Nhom7_N05/BTL_Nhom7_N05.csproj.user
/BTL_Nhom7_N05/BTL_Nhom7_N05/favicon.ico
/BTL_Nhom7_N05/BTL_Nhom7_N05/Global.asax
/BTL_Nhom7_N05/BTL_Nhom7_N05/Global.asax.cs
/BTL_Nhom7_N05/BTL_Nhom7_N05/Web.Release.config
/BTL_Nhom7_N05/BTL_Nhom7_N05/Web.Debug.config
/BTL_Nhom7_N05/BTL_Nhom7_N05/Web.config
/BTL_Nhom7_N05/BTL_Nhom7_N05/packages.config
/BTL_Nhom7_N05/.vs/BTL_Nhom7_N05
/BTL_Nhom7_N05/BTL_Nhom7_N05/Views/_ViewStart.cshtml
